@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
:root {
  --blue: #1A7BFF;
  --grey: #B6B6B6; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  color: #000; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden; }

section {
  padding: 2rem 9%; }

.btn {
  display: inline-block;
  border-radius: 1rem;
  background: var(--blue);
  color: #fff;
  padding: .8rem 2rem;
  cursor: pointer;
  font-size: 1.3rem; }
  .btn:hover {
    background: var(--pink); }

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  padding: 2.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header #toggler {
    display: none; }
  header .fa-bars {
    font-size: 2.4rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: none; }
  header nav a {
    padding: 2rem 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    position: relative; }
    header nav a:hover {
      opacity: 1;
      font-weight: 500; }
    header nav a::before {
      transition: 300ms;
      height: 0.1rem;
      content: "";
      position: absolute;
      background-color: #000; }
    header nav a::before {
      width: 0%;
      bottom: 1.7rem;
      left: 25%; }
    header nav a:hover::before {
      width: 40%; }
  header .account a {
    margin-left: 2rem;
    font-size: 1.3rem;
    background-color: #fff;
    color: #000; }
    header .account a:hover {
      background-color: #1A7BFF;
      color: white;
      border-radius: 0.5rem; }

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
  margin-top: 10rem; }
  .home .row-home {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .home .row-home .column span {
      color: var(--blue);
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 170%; }
    .home .row-home .column h1 {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 140%; }
    .home .row-home .column p {
      color: #B6B6B6;
      font-size: 1.3rem;
      font-weight: 500;
      width: 85%;
      line-height: 2rem; }
    .home .row-home .column .row {
      display: flex;
      align-items: center;
      margin-top: 4rem;
      flex-wrap: wrap;
      row-gap: 1rem;
      column-gap: 1rem; }
      .home .row-home .column .row .btn:hover {
        color: var(--blue);
        background-color: white;
        border: 0.1rem solid var(--blue); }
      .home .row-home .column .row .arrow {
        display: flex;
        align-items: center; }
        .home .row-home .column .row .arrow a {
          margin-left: .5rem;
          font-size: 1.3rem;
          line-height: 2rem; }
  .home .brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 2rem; }
    .home .brands img {
      width: 20rem; }

.services {
  margin-top: 8rem; }
  .services .heading {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services .heading span {
      font-size: 1.8rem;
      color: var(--blue);
      font-weight: 500;
      line-height: 2rem; }
    .services .heading h3 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 3rem;
      margin-top: 1rem; }
    .services .heading p {
      color: var(--grey);
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 1rem;
      width: 60%;
      text-align: center; }
  .services .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 4rem; }
    .services .box-container .box {
      flex: 1 1 30rem;
      padding: 4rem 2.5rem;
      border: 0.1rem solid var(--grey);
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .services .box-container .box h3 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 1rem; }
      .services .box-container .box p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: center;
        margin-top: 1rem; }
      .services .box-container .box .arrow {
        margin-top: 2rem; }
    .services .box-container .marketing {
      background-color: var(--blue); }
      .services .box-container .marketing * {
        color: white; }
      .services .box-container .marketing .arrow img svg {
        color: wheat; }

.discover {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .discover .heading {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .discover .heading span {
      font-size: 1.8rem;
      color: var(--blue);
      font-weight: 500;
      line-height: 2rem; }
    .discover .heading h3 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 3rem;
      margin-top: 1rem; }
    .discover .heading p {
      color: var(--grey);
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 1rem;
      width: 75%;
      text-align: center; }
  .discover img {
    margin-top: 6rem;
    width: 70%; }

.choose-us {
  margin-top: 8rem; }
  .choose-us .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem; }
    .choose-us .row .column .heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .choose-us .row .column .heading span {
        font-size: 1.8rem;
        color: var(--blue);
        font-weight: 500;
        line-height: 2rem; }
      .choose-us .row .column .heading h3 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
        margin-top: 1rem; }
      .choose-us .row .column .heading p {
        color: var(--grey);
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 1rem;
        text-transform: none; }
    .choose-us .row .column .box-container {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 4rem; }
      .choose-us .row .column .box-container .box {
        display: flex;
        align-items: center;
        gap: 3rem; }
        .choose-us .row .column .box-container .box .cl {
          display: flex;
          flex-direction: column;
          row-gap: 2rem; }
          .choose-us .row .column .box-container .box .cl h5 {
            font-size: 1.5rem;
            line-height: 2rem; }
          .choose-us .row .column .box-container .box .cl span {
            font-size: 1.3rem;
            font-weight: 500;
            color: var(--grey);
            width: 60%;
            text-transform: none; }
    .choose-us .row .choose-photo-mask {
      width: 35%; }
    .choose-us .row .choose-photo {
      display: none; }

.testimonials .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem; }
  .testimonials .heading span {
    font-size: 1.8rem;
    color: var(--blue);
    font-weight: 500;
    line-height: 2rem; }
  .testimonials .heading h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    margin-top: 1rem; }

.testimonials .box-container {
  width: 77%;
  padding: 0 5%;
  margin-top: 6rem; }
  .testimonials .box-container .slick-dots {
    visibility: hidden;
    display: none; }
  .testimonials .box-container i {
    width: 142px;
    height: 24px; }
  .testimonials .box-container .left-arrow {
    position: absolute;
    background-image: url("./assets/left-arrow.svg");
    left: -20rem;
    top: 50%; }
  .testimonials .box-container .right-arrow {
    position: absolute;
    right: -19rem;
    top: 50%;
    background-image: url("./assets/right-arrow.svg");
    background-size: 100%; }
  .testimonials .box-container .slick-slide {
    margin: 0 10px; }
  .testimonials .box-container .slick-list {
    margin: 0 -10px; }
  .testimonials .box-container .box {
    width: 100%;
    padding: 6rem;
    border: 0.1rem solid var(--grey);
    border-radius: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
    .testimonials .box-container .box .row1 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      .testimonials .box-container .box .row1 .row-info {
        display: flex;
        align-items: center;
        gap: 2rem; }
        .testimonials .box-container .box .row1 .row-info .row h4 {
          font-size: 1.5rem; }
        .testimonials .box-container .box .row1 .row-info .row p {
          font-size: 1.3rem;
          font-weight: 400;
          margin-top: 1rem; }
      .testimonials .box-container .box .row1 .stars {
        display: flex;
        width: 9%; }
        .testimonials .box-container .box .row1 .stars .fa-star {
          color: #EFBB01;
          width: 100%;
          font-size: 1.5rem; }
    .testimonials .box-container .box .row2 .title {
      font-size: 1.5rem;
      font-weight: 700; }
    .testimonials .box-container .box .row2 p {
      color: #4E4E4E;
      font-size: 1rem;
      line-height: 2rem;
      font-weight: 400;
      margin-top: 0.5rem; }

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  gap: 3rem; }
  .plan .heading {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .plan .heading span {
      font-size: 1.8rem;
      color: var(--blue);
      font-weight: 500;
      line-height: 2rem; }
    .plan .heading h3 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 3rem;
      margin-top: 1rem; }
    .plan .heading p {
      color: var(--grey);
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 1rem;
      width: 60%;
      text-align: center; }
  .plan .container {
    margin-top: 4rem;
    width: 70%;
    border: 0.1rem solid #000;
    padding: 5rem 8rem;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 0;
    grid-gap: 4.5rem; }
    .plan .container .col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 100%; }
      .plan .container .col .info .price {
        font-size: 3rem;
        font-weight: 700; }
        .plan .container .col .info .price span {
          font-size: 1rem;
          text-transform: lowercase;
          color: #848199;
          font-weight: 400; }
      .plan .container .col .info h4 {
        font-weight: 500;
        font-size: 2rem;
        line-height: 170%;
        margin-top: 1rem; }
      .plan .container .col .info p {
        font-weight: 500;
        color: #848199;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        height: 2.5rem; }
      .plan .container .col .info .prop {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: .5rem; }
        .plan .container .col .info .prop span {
          font-weight: 500;
          color: #848199;
          font-size: 1rem;
          margin-top: .2rem;
          height: 20px; }
      .plan .container .col .choose-plan {
        border: .1rem solid #999;
        border-radius: 2rem;
        padding: 1rem 2rem;
        width: 90%;
        margin-top: 2rem;
        font-size: 1.2rem;
        text-align: center; }
    .plan .container .col-before * {
      color: white !important; }
    .plan .container .col-before .choose-plan {
      background-color: white;
      color: #000 !important; }
    .plan .container .col-before::before {
      content: "";
      position: absolute;
      background-color: var(--blue);
      border-radius: 2rem;
      z-index: -1;
      top: -7rem;
      left: -4rem;
      width: 140%;
      height: 130%; }

.contact {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  align-items: center; }
  .contact .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .contact .heading span {
      font-size: 1.8rem;
      color: var(--blue);
      font-weight: 500;
      line-height: 2rem; }
    .contact .heading h3 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 3rem;
      margin-top: 1rem; }
    .contact .heading p {
      color: var(--grey);
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 1rem; }
    .contact .heading .btn {
      padding: 1rem 2rem;
      margin-top: 2rem; }
      .contact .heading .btn:hover {
        border: 0.1rem solid var(--blue);
        color: var(--blue); }
  .contact img {
    margin-right: 8rem;
    width: 100%; }

.footer {
  margin-top: 8rem; }
  .footer .content {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-gap: 18rem;
    border-bottom: .1rem solid #020113;
    padding-bottom: 3rem; }
    .footer .content .col {
      display: flex;
      flex-direction: column;
      gap: 1.5rem; }
      .footer .content .col .logo {
        width: 8rem; }
      .footer .content .col p {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 2rem; }
      .footer .content .col a {
        font-size: 1.1rem; }
      .footer .content .col h5 {
        font-size: 1.5rem; }
      .footer .content .col .social-media {
        margin-top: auto;
        display: flex;
        gap: 1rem; }
        .footer .content .col .social-media img {
          width: 1.5rem; }
  .footer .line-under {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 40%;
    margin-top: 1rem; }

@media (max-width: 1264px) {
  .plan .container {
    width: 80%; } }

@media (max-width: 1080px) {
  .testimonials .box-container {
    width: 70%; }
    .testimonials .box-container .left-arrow {
      left: -15rem; }
    .testimonials .box-container .right-arrow {
      right: -14rem; } }

@media (max-width: 1054px) {
  .home {
    min-height: 65vh; }
    .home .row-home .home-photo img {
      width: 100%; }
  .plan .container {
    width: 90%; }
  .contact img {
    margin-right: 0; } }

@media (max-width: 991px) {
  html {
    font-size: 55%; }
  header {
    padding: 2rem; }
  section {
    padding: 2rem; }
  .home {
    min-height: 55%; }
  .choose-us .row .choose-photo {
    width: 40%; } }

@media (max-width: 768px) {
  header .fa-bars {
    display: block; }
  header nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
    header nav a {
      margin: 1.5rem;
      padding: 1.5rem;
      background: #fff;
      border: 0.1rem solid rgba(0, 0, 0, 0.1);
      display: block; }
  header #toggler:checked ~ nav {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  .home {
    margin-top: 12rem;
    align-items: center; }
    .home .row-home {
      flex-direction: column; }
      .home .row-home .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
      .home .row-home .home-photo {
        margin-top: 2.5rem; }
        .home .row-home .home-photo img {
          width: 90%; }
    .home .brands img {
      width: 15rem; }
  .services {
    margin-top: -1rem; }
    .services .heading p {
      width: 100%; }
  .discover {
    margin-top: -1rem; }
    .discover .heading p {
      width: 100%; }
    .discover img {
      margin-top: 2rem;
      width: 90%; }
  .choose-us .row {
    flex-direction: column;
    gap: 2rem; }
    .choose-us .row .column .box-container .box .icon img {
      width: 95%; }
    .choose-us .row .choose-photo-mask {
      display: none; }
    .choose-us .row .choose-photo {
      display: inline;
      width: 90vw;
      height: 35rem;
      object-fit: cover;
      border: 0.5rem solid var(--blue);
      border-radius: 3rem;
      margin-top: 2rem; }
  .testimonials .box-container {
    width: 100%;
    padding: 0 2%; }
    .testimonials .box-container .left-arrow {
      display: none !important; }
    .testimonials .box-container .right-arrow {
      display: none !important; }
    .testimonials .box-container .slick-dots {
      display: flex;
      justify-content: center;
      visibility: visible;
      margin: 0;
      padding: 1rem 2rem;
      list-style-type: none; }
      .testimonials .box-container .slick-dots li {
        margin: 1rem 1rem; }
      .testimonials .box-container .slick-dots button {
        cursor: pointer;
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #aeadad;
        text-indent: -9999px; }
      .testimonials .box-container .slick-dots li.slick-active button {
        background-color: var(--yellow); }
  .plan .heading p {
    width: 100%; }
  .plan .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .plan .container .col .info .price {
      font-size: 4rem; }
    .plan .container .col .info h4 {
      font-size: 2.5rem; }
    .plan .container .col .info p {
      font-size: 1.7rem; }
    .plan .container .col .choose-plan {
      font-size: 1.7rem; }
    .plan .container .col-before::before {
      width: 115%;
      height: 115%;
      top: -2rem; }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 0; }
    .contact .heading {
      align-items: center; }
    .contact img {
      width: 90%; }
  .footer .content {
    display: flex; }
    .footer .content .col2,
    .footer .content .col3 {
      display: none; } }

@media (max-width: 510px) {
  .plan .container .col-before::before {
    width: 130%; } }

@media (max-width: 450px) {
  html {
    font-size: 50%; }
  .heading {
    font-size: 3rem; }
  header .account {
    display: none; }
  .services .box-container .box .logo img {
    width: 5rem; }
  .discover img {
    width: 90%; }
  .choose-us .row .choose-photo {
    height: 25rem; } }
